<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGLES-5.1深度渲染缓存.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>835CF7C41ECECD52003D057B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835CF7DD1ECECD52003D057B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835CF7E81ECECD52003D057B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
